<a href="https://colab.research.google.com/github/ABHAY1937/DEEP-LEARNING/blob/main/Loan_Approval_using_ANN_DL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [101]:
import tensorflow as tf

In [102]:
import numpy as np
import pandas as pd

In [103]:
df = pd.read_csv('/content/LoanApprovalPrediction.csv')
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [104]:
df.shape

(614, 13)

In [105]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [106]:

#convert object to numerical values using label encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df.Gender = le.fit_transform(df.Gender)
df.Married = le.fit_transform(df.Married)
df.Education = le.fit_transform(df.Education)
df.Self_Employed = le.fit_transform(df.Self_Employed)
df.Property_Area = le.fit_transform(df.Property_Area)
df.Loan_Status = le.fit_transform(df.Loan_Status)

In [107]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,NaN,360.0,1.0,2,1
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
610,LP002979,1,1,3+,0,0,4106,0.0,40.0,180.0,1.0,0,1
611,LP002983,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,1
612,LP002984,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,1
613,LP002990,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [108]:
df.isna().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           15
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [109]:
first = df["LoanAmount"].mean()
df["LoanAmount"].fillna(first,inplace =True)
#
term = df["Loan_Amount_Term"].mean()
df["Loan_Amount_Term"].fillna(term,inplace = True)
#
history = df["Credit_History"].mean()
df["Credit_History"].fillna(history, inplace = True)

In [110]:
df.drop(columns=["Dependents","Loan_ID"] ,inplace=True,axis=1)

In [111]:
df.isna().sum()

Gender               0
Married              0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [112]:
df

,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0,0,5849,0.0,146.412162,360.0,1.0,2,1
1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0,0
2,1,1,0,1,3000,0.0,66.000000,360.0,1.0,2,1
3,1,1,1,0,2583,2358.0,120.000000,360.0,1.0,2,1
4,1,0,0,0,6000,0.0,141.000000,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,0,2900,0.0,71.000000,360.0,1.0,0,1
610,1,1,0,0,4106,0.0,40.000000,180.0,1.0,0,1
611,1,1,0,0,8072,240.0,253.000000,360.0,1.0,2,1
612,1,1,0,0,7583,0.0,187.000000,360.0,1.0,2,1
613,0,0,0,1,4583,0.0,133.000000,360.0,0.0,1,0

In [113]:
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [114]:
x.ndim

2

In [115]:
y.ndim

1

In [116]:
#traning model
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.30,random_state=1)

In [117]:
#normalization
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()
scalar.fit(x_train)
x_train = scalar.fit_transform(x_train)
x_test = scalar.fit_transform(x_test)

In [118]:
#model creation
ann = tf.keras.models.Sequential()

In [119]:
#1st hidden layer
ann.add(tf.keras.layers.Dense(7,activation='relu'))
#2nd hidden layers
ann.add(tf.keras.layers.Dense(5,activation="relu"))
#3rd hidden layers
ann.add(tf.keras.layers.Dense(6,activation='relu'))

In [120]:
#output layer
ann.add(tf.keras.layers.Dense(1,activation='sigmoid'))

In [121]:
#complilling ANN
ann.compile(optimizer='adam', loss='binary_crossentropy',metrics=["accuracy"])

In [122]:
ann.fit(x_train,y_train,batch_size=32,epochs=200)

Epoch 1/200
14/14 [==============================] - 1s 3ms/step - loss: 0.7317 - accuracy: 0.4242
Epoch 2/200
14/14 [==============================] - 0s 2ms/step - loss: 0.6989 - accuracy: 0.5851
Epoch 3/200
14/14 [==============================] - 0s 3ms/step - loss: 0.6755 - accuracy: 0.6434
Epoch 4/200
14/14 [==============================] - 0s 3ms/step - loss: 0.6582 - accuracy: 0.6550
Epoch 5/200
14/14 [==============================] - 0s 2ms/step - loss: 0.6410 - accuracy: 0.6713
Epoch 6/200
14/14 [==============================] - 0s 2ms/step - loss: 0.6248 - accuracy: 0.7016
Epoch 7/200
14/14 [==============================] - 0s 3ms/step - loss: 0.6111 - accuracy: 0.7110
Epoch 8/200
14/14 [==============================] - 0s 2ms/step - loss: 0.6012 - accuracy: 0.7016
Epoch 9/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5942 - accuracy: 0.7016
Epoch 10/200
14/14 [==============================] - 0s 2ms/step - loss: 0.5887 - accuracy: 0.7016
Epoch 11/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5849 - accuracy: 0.7016
Epoch 12/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5824 - accuracy: 0.6993
Epoch 13/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5796 - accuracy: 0.6993
Epoch 14/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5778 - accuracy: 0.6993
Epoch 15/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5755 - accuracy: 0.7016
Epoch 16/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5734 - accuracy: 0.7016
Epoch 17/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5705 - accuracy: 0.7086
Epoch 18/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5679 - accuracy: 0.7133
Epoch 19/200
14/14 [==============================] - 0s 2ms/step - loss: 0.5649 - accuracy: 0.7203
Epoch 20/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5623 - accuracy: 0.7249
Epoch 21/200
14/14 [==============================] - 0s 2ms/step - loss: 0.5595 - accuracy: 0.7249
Epoch 22/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5568 - accuracy: 0.7249
Epoch 23/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5538 - accuracy: 0.7296
Epoch 24/200
14/14 [==============================] - 0s 2ms/step - loss: 0.5510 - accuracy: 0.7389
Epoch 25/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5472 - accuracy: 0.7413
Epoch 26/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5443 - accuracy: 0.7436
Epoch 27/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5406 - accuracy: 0.7459
Epoch 28/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5372 - accuracy: 0.7552
Epoch 29/200
14/14 [==============================] - 0s 2ms/step - loss: 0.5330 - accuracy: 0.7576
Epoch 30/200
14/14 [==============================] - 0s 2ms/step - loss: 0.5286 - accuracy: 0.7576
Epoch 31/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5229 - accuracy: 0.7576
Epoch 32/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5175 - accuracy: 0.7832
Epoch 33/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5128 - accuracy: 0.7879
Epoch 34/200
14/14 [==============================] - 0s 3ms/step - loss: 0.5070 - accuracy: 0.7925
Epoch 35/200
14/14 [==============================] - 0s 2ms/step - loss: 0.5031 - accuracy: 0.8019
Epoch 36/200
14/14 [==============================] - 0s 5ms/step - loss: 0.4985 - accuracy: 0.8042
Epoch 37/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4955 - accuracy: 0.8065
Epoch 38/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4906 - accuracy: 0.8159
Epoch 39/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4872 - accuracy: 0.8159
Epoch 40/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4848 - accuracy: 0.8159
Epoch 41/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4815 - accuracy: 0.8159
Epoch 42/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4794 - accuracy: 0.8159
Epoch 43/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4775 - accuracy: 0.8159
Epoch 44/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4744 - accuracy: 0.8159
Epoch 45/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4733 - accuracy: 0.8159
Epoch 46/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4712 - accuracy: 0.8159
Epoch 47/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4701 - accuracy: 0.8159
Epoch 48/200
14/14 [==============================] - 0s 5ms/step - loss: 0.4690 - accuracy: 0.8159
Epoch 49/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4681 - accuracy: 0.8182
Epoch 50/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4672 - accuracy: 0.8182
Epoch 51/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4653 - accuracy: 0.8182
Epoch 52/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4652 - accuracy: 0.8159
Epoch 53/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4643 - accuracy: 0.8159
Epoch 54/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4644 - accuracy: 0.8182
Epoch 55/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4629 - accuracy: 0.8182
Epoch 56/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4621 - accuracy: 0.8182
Epoch 57/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4615 - accuracy: 0.8182
Epoch 58/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4612 - accuracy: 0.8182
Epoch 59/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4603 - accuracy: 0.8182
Epoch 60/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4603 - accuracy: 0.8159
Epoch 61/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4601 - accuracy: 0.8182
Epoch 62/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4584 - accuracy: 0.8182
Epoch 63/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4582 - accuracy: 0.8182
Epoch 64/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4572 - accuracy: 0.8182
Epoch 65/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4573 - accuracy: 0.8159
Epoch 66/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4566 - accuracy: 0.8182
Epoch 67/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4565 - accuracy: 0.8182
Epoch 68/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4559 - accuracy: 0.8182
Epoch 69/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4563 - accuracy: 0.8205
Epoch 70/200
14/14 [==============================] - 0s 5ms/step - loss: 0.4557 - accuracy: 0.8205
Epoch 71/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4551 - accuracy: 0.8182
Epoch 72/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4551 - accuracy: 0.8182
Epoch 73/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4566 - accuracy: 0.8228
Epoch 74/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4540 - accuracy: 0.8205
Epoch 75/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4553 - accuracy: 0.8182
Epoch 76/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4537 - accuracy: 0.8182
Epoch 77/200
14/14 [==============================] - 0s 5ms/step - loss: 0.4541 - accuracy: 0.8182
Epoch 78/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4545 - accuracy: 0.8228
Epoch 79/200
14/14 [==============================] - 0s 6ms/step - loss: 0.4545 - accuracy: 0.8205
Epoch 80/200
14/14 [==============================] - 0s 5ms/step - loss: 0.4517 - accuracy: 0.8205
Epoch 81/200
14/14 [==============================] - 0s 5ms/step - loss: 0.4526 - accuracy: 0.8205
Epoch 82/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4522 - accuracy: 0.8182
Epoch 83/200
14/14 [==============================] - 0s 5ms/step - loss: 0.4514 - accuracy: 0.8205
Epoch 84/200
14/14 [==============================] - 0s 5ms/step - loss: 0.4518 - accuracy: 0.8228
Epoch 85/200
14/14 [==============================] - 0s 5ms/step - loss: 0.4517 - accuracy: 0.8228
Epoch 86/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4515 - accuracy: 0.8205
Epoch 87/200
14/14 [==============================] - 0s 5ms/step - loss: 0.4509 - accuracy: 0.8205
Epoch 88/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4518 - accuracy: 0.8205
Epoch 89/200
14/14 [==============================] - 0s 5ms/step - loss: 0.4509 - accuracy: 0.8228
Epoch 90/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4503 - accuracy: 0.8228
Epoch 91/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4506 - accuracy: 0.8228
Epoch 92/200
14/14 [==============================] - 0s 5ms/step - loss: 0.4501 - accuracy: 0.8252
Epoch 93/200
14/14 [==============================] - 0s 5ms/step - loss: 0.4498 - accuracy: 0.8228
Epoch 94/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4495 - accuracy: 0.8228
Epoch 95/200
14/14 [==============================] - 0s 5ms/step - loss: 0.4489 - accuracy: 0.8228
Epoch 96/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4500 - accuracy: 0.8252
Epoch 97/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4492 - accuracy: 0.8228
Epoch 98/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4487 - accuracy: 0.8228
Epoch 99/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4490 - accuracy: 0.8228
Epoch 100/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4488 - accuracy: 0.8252
Epoch 101/200
14/14 [==============================] - 0s 5ms/step - loss: 0.4486 - accuracy: 0.8252
Epoch 102/200
14/14 [==============================] - 0s 5ms/step - loss: 0.4496 - accuracy: 0.8205
Epoch 103/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4474 - accuracy: 0.8228
Epoch 104/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4486 - accuracy: 0.8252
Epoch 105/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4481 - accuracy: 0.8252
Epoch 106/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4485 - accuracy: 0.8252
Epoch 107/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4476 - accuracy: 0.8228
Epoch 108/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4478 - accuracy: 0.8205
Epoch 109/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4472 - accuracy: 0.8228
Epoch 110/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4470 - accuracy: 0.8252
Epoch 111/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4467 - accuracy: 0.8252
Epoch 112/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4472 - accuracy: 0.8228
Epoch 113/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4464 - accuracy: 0.8205
Epoch 114/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4476 - accuracy: 0.8228
Epoch 115/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4461 - accuracy: 0.8252
Epoch 116/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4465 - accuracy: 0.8228
Epoch 117/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4462 - accuracy: 0.8252
Epoch 118/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4464 - accuracy: 0.8205
Epoch 119/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4464 - accuracy: 0.8275
Epoch 120/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4463 - accuracy: 0.8252
Epoch 121/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4461 - accuracy: 0.8205
Epoch 122/200
14/14 [==============================] - 0s 5ms/step - loss: 0.4450 - accuracy: 0.8252
Epoch 123/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4453 - accuracy: 0.8228
Epoch 124/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4452 - accuracy: 0.8252
Epoch 125/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4457 - accuracy: 0.8228
Epoch 126/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4451 - accuracy: 0.8252
Epoch 127/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4452 - accuracy: 0.8252
Epoch 128/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4447 - accuracy: 0.8252
Epoch 129/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4451 - accuracy: 0.8228
Epoch 130/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4440 - accuracy: 0.8252
Epoch 131/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4447 - accuracy: 0.8228
Epoch 132/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4446 - accuracy: 0.8252
Epoch 133/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4440 - accuracy: 0.8252
Epoch 134/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4439 - accuracy: 0.8252
Epoch 135/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4440 - accuracy: 0.8252
Epoch 136/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4448 - accuracy: 0.8228
Epoch 137/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4447 - accuracy: 0.8159
Epoch 138/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4441 - accuracy: 0.8228
Epoch 139/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4434 - accuracy: 0.8252
Epoch 140/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4440 - accuracy: 0.8252
Epoch 141/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4437 - accuracy: 0.8252
Epoch 142/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4430 - accuracy: 0.8252
Epoch 143/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4438 - accuracy: 0.8252
Epoch 144/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4448 - accuracy: 0.8228
Epoch 145/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4421 - accuracy: 0.8252
Epoch 146/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4426 - accuracy: 0.8252
Epoch 147/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4423 - accuracy: 0.8252
Epoch 148/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4439 - accuracy: 0.8228
Epoch 149/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4433 - accuracy: 0.8205
Epoch 150/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4417 - accuracy: 0.8252
Epoch 151/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4425 - accuracy: 0.8252
Epoch 152/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4427 - accuracy: 0.8252
Epoch 153/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4430 - accuracy: 0.8275
Epoch 154/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4422 - accuracy: 0.8252
Epoch 155/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4419 - accuracy: 0.8252
Epoch 156/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4425 - accuracy: 0.8252
Epoch 157/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4415 - accuracy: 0.8252
Epoch 158/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4413 - accuracy: 0.8252
Epoch 159/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4422 - accuracy: 0.8182
Epoch 160/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4411 - accuracy: 0.8252
Epoch 161/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4414 - accuracy: 0.8252
Epoch 162/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4407 - accuracy: 0.8252
Epoch 163/200
14/14 [==============================] - 0s 4ms/step - loss: 0.4410 - accuracy: 0.8252
Epoch 164/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4417 - accuracy: 0.8252
Epoch 165/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4412 - accuracy: 0.8252
Epoch 166/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4416 - accuracy: 0.8252
Epoch 167/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4415 - accuracy: 0.8252
Epoch 168/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4410 - accuracy: 0.8252
Epoch 169/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4406 - accuracy: 0.8182
Epoch 170/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4403 - accuracy: 0.8228
Epoch 171/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4403 - accuracy: 0.8252
Epoch 172/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4399 - accuracy: 0.8252
Epoch 173/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4403 - accuracy: 0.8205
Epoch 174/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4410 - accuracy: 0.8252
Epoch 175/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4399 - accuracy: 0.8228
Epoch 176/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4401 - accuracy: 0.8205
Epoch 177/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4394 - accuracy: 0.8228
Epoch 178/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4401 - accuracy: 0.8252
Epoch 179/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4390 - accuracy: 0.8252
Epoch 180/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4398 - accuracy: 0.8252
Epoch 181/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4395 - accuracy: 0.8205
Epoch 182/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4393 - accuracy: 0.8228
Epoch 183/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4393 - accuracy: 0.8252
Epoch 184/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4395 - accuracy: 0.8205
Epoch 185/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4383 - accuracy: 0.8205
Epoch 186/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4407 - accuracy: 0.8228
Epoch 187/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4386 - accuracy: 0.8252
Epoch 188/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4383 - accuracy: 0.8205
Epoch 189/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4388 - accuracy: 0.8228
Epoch 190/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4377 - accuracy: 0.8252
Epoch 191/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4379 - accuracy: 0.8252
Epoch 192/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4377 - accuracy: 0.8252
Epoch 193/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4385 - accuracy: 0.8205
Epoch 194/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4390 - accuracy: 0.8228
Epoch 195/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4370 - accuracy: 0.8252
Epoch 196/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4378 - accuracy: 0.8228
Epoch 197/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4369 - accuracy: 0.8252
Epoch 198/200
14/14 [==============================] - 0s 2ms/step - loss: 0.4370 - accuracy: 0.8252
Epoch 199/200
14/14 [==============================] - 0s 3ms/step - loss: 0.4365 - accuracy: 0.8252

In [126]:
pred = ann.predict(scalar.transform([[1,0,0,0,5849,0.0,145,300.0,1.0,1]]))
if(pred>0.5):
  print(1)
else:
  print(0)

1/1 [==============================] - 0s 32ms/step
1

In [123]:
x_train.shape

(429, 10)

In [124]:
ann.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 7)                 77

 dense_13 (Dense)            (None, 5)                 40

 dense_14 (Dense)            (None, 6)                 36

 dense_15 (Dense)            (None, 1)                 7

=================================================================
Total params: 160
Trainable params: 160
Non-trainable params: 0
_________________________________________________________________